body {
  font-family: 'Roboto', sans-serif;
  background-color: #000;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding: 20px 15% 8%;
  margin: 0px;
}

.headerLogo {
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  font-weight: 500;
  color: #f9faf8;
}

.hero {
  display: flex;
  background-color: #1f2937;
  padding: 20px 15% 8%;
  margin: 0px;
  flex: 1;
}

.heroLeft {
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 10px;
}

.heroMain {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.heroSecondary {
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
  padding: 10px 0px;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #f9faf8;
}

.infoWhole {
  margin: 20px 20%;
  padding: 20px 10%;
}

.infoHeading {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  margin: 20px;
}

.infoImage {
  display: flex;
  flex: 0;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
}

.image {
  border-radius: 12px;
  /* border: 4px solid #3882f6; */
}

.caption {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  /* padding: 8% 23% 8%; */
  background-color: #e5e7eb;
  color: #1f2937;
}

.quoteWhole {
  margin: 50px 20%;
  padding: 50px; 10%;
}

.quoteText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 100;
  font-size: 36px;
  font-style: italic;
}

.quoteOrigin {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 24px;
}

.callToAction {
  background-color: #f9faf8;
  padding: 50px;
}

.callToActionWhole {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3882f6;
  color: #f9faf8;
  margin: 50px 15%;
  padding: 50px 10%;
  align-items: center;
  border-radius: 12px;
}

.callToActionLeft {
  display: flex;
  flex-direction: column;
}

.callToActionHeading {
  font-style: bold;
  font-size: 24px;
}

.callToActionMain {
  font-weight: 100;
  font-size: 18px;
}

.callToActionSignUpButton {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: solid;
  border-width: 2px;
  border-radius: 8px;
  padding: 8px 32px;
}

.footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #1f2937;
  padding: 50px 15% 50px;
  margin: 0px;
  font-weight: 100;
  font-size: 18px;
}

.signUpButton {
  background-color: #3882f6;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding: 8px 32px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 16px;
}

.headerLinks > ul > li > a:link,
.headerLinks > ul > li > a:visited,
.headerLinks > ul > li > a:hover,
.headerLinks > ul > li > a:active {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
}
